* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin: 50px 0 20px 0;
}

table {
    margin-bottom: 50px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 120px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}